services:
  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"

  redis:
    image: redis:alpine

  chat-service:
    build: ./chat-service
    environment:
      - MONGO_URL=mongodb://mongodb:27017/annony-talk
      - REDIS_URL=redis://redis:6379
    depends_on:
      - mongodb
      - redis

  gateway:
    build: ./gateway
    ports:
      - "8080:8080"
    depends_on:
      - chat-service

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    stdin_open: true